
body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.section {
    padding: 4% 8% 0;
}

.section-heading {
    font-size: 28px;
    opacity: 0.8;
    font-weight: 600;
    color: rgb(27, 25, 25);
}

.product-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(20% - 1%);
    margin: 0.5%;
    box-shadow: 0 2px 10px rgb(0 0 0 / 70%);
  
    background-color: #fff;
    
    /* height: auto; */
}

.card:hover {
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    cursor: pointer;
    background-color: #fff;
    
}

.img {
    width: 100%;
    
}



.product-nAame {
    margin: 0;
    font-size: 16px;
    color: rgb(27, 25, 25);
    font-size: 16px;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
     
}

.product-brand {

    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    color: rgb(110, 110, 110);
      display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;


}


.product-price {

    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
    color: #009688;
      margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    
}

@media (max-width: 400px) {
    .card {
        width: calc(50% - 1%);
    }
    .product-nAame,
    .product-price {
        font-size: 14px;
        font-weight: 400;

    }
    .product-brand {
        font-size: 15px;
    }
}